[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chimera"]
	path = lib/chimera
	url = https://github.com/Recon-Fuzz/chimera
[submodule "Documents/GitHub/Auditing/Fuzzing/Blogs/Foundry_Counter_Example/hello_foundry/lib/forge-std"]
	path = Documents/GitHub/Auditing/Fuzzing/Blogs/Foundry_Counter_Example/hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Documents/GitHub/Auditing/Fuzzing/Recon_Fuzzing/ERC7540_Properties_Test/erc7540_properties_test/lib/forge-std"]
	path = Documents/GitHub/Auditing/Fuzzing/Recon_Fuzzing/ERC7540_Properties_Test/erc7540_properties_test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/liquidity-pools"]
	path = lib/liquidity-pools
	url = https://github.com/centrifuge/liquidity-pools
[submodule "Documents/GitHub/Auditing/Fuzzing/Recon_Fuzzing/ERC7540_Properties_Test/erc7540_properties_test/lib/liquidity-pools"]
	path = Documents/GitHub/Auditing/Fuzzing/Recon_Fuzzing/ERC7540_Properties_Test/erc7540_properties_test/lib/liquidity-pools
	url = https://github.com/centrifuge/liquidity-pools
[submodule "Documents/GitHub/Auditing/Fuzzing/Recon_Fuzzing/ERC7540_Properties_Test/erc7540_properties_test/lib/erc7540-reusable-properties"]
	path = Documents/GitHub/Auditing/Fuzzing/Recon_Fuzzing/ERC7540_Properties_Test/erc7540_properties_test/lib/erc7540-reusable-properties
	url = https://github.com/Recon-Fuzz/erc7540-reusable-properties
[submodule "Documents/GitHub/Auditing/Fuzzing/Recon_Fuzzing/ERC7540_Properties_Test/erc7540_properties_test/lib/chimera"]
	path = Documents/GitHub/Auditing/Fuzzing/Recon_Fuzzing/ERC7540_Properties_Test/erc7540_properties_test/lib/chimera
	url = https://github.com/Recon-Fuzz/chimera
